[submodule "pkg/urbit/src"]
	path = pkg/urbit/src
	url = https://github.com/urbit/urbit.git
[submodule "pkg/arvo/src"]
	path = pkg/arvo/src
	url = https://github.com/urbit/arvo.git
[submodule "nix/nixcrpkgs"]
	path = nix/nixcrpkgs
	url = https://github.com/urbit/nixcrpkgs
